.vscode
libdstruc.a
libdstruc.so
Makefile
examples/avl_tree/*
examples/bst_tree/*
examples/dlist/*
examples/graph/*
examples/hash_table/*
examples/list/*
examples/priority_queue/*
examples/queue/*
examples/red_black_tree/*
examples/sort_algorithms/*
examples/stack/*
!*.c
*.txt
!*.h
!*.md